<!DOCTYPE html>

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
        {% if category %}
            <h1> {{ category.name }} </h1>
            {% if pages %}
            <ul>
                <!-- creates a list of pages inside the category -->
                {% for page in pages %}
                <!-- displays the page title as a clickable link -->
                <li> <a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category does not exist.
        {% endif %}
        </div>
    </body>

</html>